<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
                     tools:ignore="ProtectedPermissions"
    />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"/>

    <queries>
        <package android:name="com.instagram.android" />
        <package android:name="com.samsung.SMT.lang_de_de_f00" />
        <package android:name="com.google.android.apps.subscriptions.red" />
        <package android:name="com.android.cts.priv.ctsshim" />
        <package android:name="com.sec.vsim.ericssonnsds.webapp" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.samsung.SMT.lang_it_it_f00" />
        <package android:name="com.example.backupapp" />
        <package android:name="com.samsung.android.themestore" />
        <package android:name="com.android.internal.display.cutout.emulation.corner" />
        <package android:name="com.android.internal.display.cutout.emulation.double" />
        <package android:name="com.sec.location.nfwlocationprivacy" />
        <package android:name="com.microsoft.appmanager" />
        <package android:name="com.bigduckgames.flow" />
        <package android:name="com.truecaller" />
        <package android:name="com.google.android.googlequicksearchbox" />
        <package android:name="com.example.recyclerviewpd" />
        <package android:name="org.telegram.messenger" />
        <package android:name="com.phonepe.app" />
        <package android:name="com.google.android.onetimeinitializer" />
        <package android:name="com.example.doublesnap" />
        <package android:name="com.google.android.ext.shared" />
        <package android:name="com.samsung.ecomm.global.in" />
        <package android:name="com.shazam.android" />
        <package android:name="com.android.internal.systemui.navbar.gestural_wide_back" />
        <package android:name="com.android.virtualmachine.res" />
        <package android:name="com.google.android.federatedcompute" />
        <package android:name="com.wondershare.mobilego.connector" />
        <package android:name="com.miniclip.eightballpool" />
        <package android:name="com.imangi.templerun2" />
        <package android:name="com.microblink.photomath" />
        <package android:name="com.whatsapp" />
        <package android:name="com.samsung.systemui.lockstar" />
        <package android:name="com.flightradar24free" />
        <package android:name="com.google.android.apps.authenticator2" />
        <package android:name="com.diotek.sec.lookup.dictionary" />
        <package android:name="com.google.android.health.connect.backuprestore" />
        <package android:name="com.android.systemui.auto_generated_rro_product__" />
        <package android:name="com.google.android.apps.messaging" />
        <package android:name="com.samsung.SMT.lang_vi_vn_f00" />
        <package android:name="com.android.internal.systemui.onehanded.gestural" />
        <package android:name="com.discord" />
        <package android:name="com.openai.chatgpt" />
        <package android:name="com.hdfcbank.payzapp" />
        <package android:name="com.sec.android.app.voicenote" />
        <package android:name="com.naviapp" />
        <package android:name="com.monotype.android.font.foundation" />
        <package android:name="com.sec.android.widgetapp.easymodecontactswidget" />
        <package android:name="com.samsung.android.soundassistant" />
        <package android:name="com.sec.android.app.samsungapps" />
        <package android:name="com.google.android.configupdater" />
        <package android:name="in.amazon.mShop.android.shopping" />
        <package android:name="com.google.android.overlay.modules.permissioncontroller" />
        <package android:name="com.github.android" />
        <package android:name="com.sec.android.app.billing" />
        <package android:name="com.samsung.android.wifi.p2paware.resources" />
        <package android:name="com.samsung.SMT.lang_en_gb_f00" />
        <package android:name="com.google.ar.core" />
        <package android:name="org.zwanoo.android.speedtest" />
        <package android:name="com.android.simappdialog" />
        <package android:name="com.samsung.internal.systemui.navbar.sec_gestural" />
        <package android:name="com.samsung.SMT.lang_en_in_l02" />
        <package android:name="com.samsung.SMT.lang_es_es_f00" />
        <package android:name="com.android.internal.display.cutout.emulation.hole" />
        <package android:name="com.android.internal.display.cutout.emulation.tall" />
        <package android:name="com.flipkart.android" />
        <package android:name="com.samsung.android.privateshare" />
        <package android:name="com.android.internal.systemui.navbar.threebutton" />
        <package android:name="com.brave.browser" />
        <package android:name="com.android.hotwordenrollment.xgoogle" />
        <package android:name="com.google.android.overlay.modules.cellbroadcastreceiver" />
        <package android:name="com.amazon.mp3" />
        <package android:name="com.beatxp.dafit" />
        <package android:name="com.samsung.internal.systemui.navbar.sec_gestural_no_hint" />
        <package android:name="com.google.android.overlay.gmsconfig.searchselector" />
        <package android:name="com.snapwork.hdfc" />
        <package android:name="com.instagram.android" />
        <package android:name="com.samsung.SMT.lang_en_us_l03" />
        <package android:name="com.google.android.deskclock" />
        <package android:name="com.pinterest" />
        <package android:name="in.startv.hotstar" />
        <package android:name="com.samsung.android.qstuner" />
        <package android:name="com.google.android.as" />
        <package android:name="com.google.android.gm" />
        <package android:name="com.samsung.SMT.lang_es_us_f00" />
        <package android:name="com.google.android.apps.tachyon" />
        <package android:name="com.google.android.overlay.gmsconfig.common" />
        <package android:name="com.monotype.android.font.samsungone" />
        <package android:name="com.android.internal.systemui.navbar.gestural_extra_wide_b" />
        <package android:name="com.google.android.setupwizard" />
        <package android:name="com.facebook.services" />
        <package android:name="com.android.printspooler" />
        <package android:name="com.android.hotwordenrollment.okgoogle" />
        <package android:name="com.havells.havellsone" />
        <package android:name="com.android.dreams.basic" />
        <package android:name="com.samsung.SMT.lang_fr_fr_f00" />
        <package android:name="com.android.providers.settings.auto_generated_rro_product_" />
        <package android:name="com.google.android.as.oss" />
        <package android:name="com.samsung.android.wifi.resources" />
        <package android:name="com.android.rkpdapp" />
        <package android:name="com.google.android.overlay.gmsconfig.photos" />
        <package android:name="com.hunteralex.fivegonly" />
        <package android:name="com.google.audio.hearing.visualization.accessibility.scrib" />
        <package android:name="com.samsung.android.app.contacts" />
        <package android:name="com.google.android.captiveportallogin" />
        <package android:name="com.example.backup" />
        <package android:name="com.google.android.overlay.gmsconfig.geotz" />
        <package android:name="com.google.android.apps.classroom" />
        <package android:name="com.bigwinepot.nwdn.international" />
        <package android:name="com.twitter.android" />
        <package android:name="com.internet.speed.meter.lite" />
        <package android:name="com.google.android.apps.maps" />
        <package android:name="com.lenskart.app" />
        <package android:name="com.google.android.webview" />
        <package android:name="com.google.android.overlay.modules.documentsui" />
        <package android:name="com.google.android.apps.fitness" />
        <package android:name="com.android.server.telecom.auto_generated_rro_product__" />
        <package android:name="com.example.imagesaver" />
        <package android:name="com.android.chrome" />
        <package android:name="com.example.finalbackupapp" />
        <package android:name="android.autoinstalls.config.samsung" />
        <package android:name="com.samsung.android.goodlock" />
        <package android:name="com.google.android.partnersetup" />
        <package android:name="com.samsung.SMT.lang_th_th_f00" />
        <package android:name="com.google.android.overlay.gmsconfig.asi" />
        <package android:name="com.google.android.overlay.gmsconfig.gsa" />
        <package android:name="com.sec.spp.push" />
        <package android:name="com.android.theme.font.notoserifsource" />
        <package android:name="com.google.android.safetycenter.resources" />
        <package android:name="com.google.chromeremotedesktop" />
        <package android:name="com.android.internal.display.cutout.emulation.waterfall" />
        <package android:name="com.mobikwik_new" />
        <package android:name="bubbleshooter.orig" />
        <package android:name="org.videolan.vlc" />
        <package android:name="com.android.internal.systemui.navbar.transparent" />
        <package android:name="com.google.android.connectivity.resources" />
        <package android:name="com.mygalaxy" />
        <package android:name="com.jio.myjio" />
        <package android:name="com.google.android.feedback" />
        <package android:name="com.google.android.printservice.recommendation" />
        <package android:name="com.xiaomi.midrop" />
        <package android:name="com.google.android.syncadapters.calendar" />
        <package android:name="com.spotify.music" />
        <package android:name="com.microsoft.office.officehubrow" />
        <package android:name="com.android.dreams.phototable" />
        <package android:name="com.google.mainline.telemetry" />
        <package android:name="com.samsung.android.wifi.resources.wifilock" />
        <package android:name="com.amazon.avod.thirdpartyclient" />
        <package android:name="com.disney.wheresmywater2_goo" />
        <package android:name="com.samsung.android.galaxy" />
        <package android:name="com.android.providers.partnerbookmarks" />
        <package android:name="com.samsung.SMT.lang_ru_ru_f00" />
        <package android:name="com.samsung.internal.systemui.navbar.gestural_no_hint" />
        <package android:name="com.facebook.orca" />
        <package android:name="com.facebook.system" />
        <package android:name="com.sec.android.app.popupcalculator" />
        <package android:name="com.google.android.healthconnect.controller" />
        <package android:name="com.samsung.android.bixby.ondevice.enin" />
        <package android:name="com.samsung.android.voc" />
        <package android:name="com.dailymotion.dailymotion" />
        <package android:name="com.cloudflare.onedotonedotonedotone" />
        <package android:name="com.zerodha.kite3" />
        <package android:name="com.android.bookmarkprovider" />
        <package android:name="com.linkedin.android" />
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.samsung.android.app.notes" />
        <package android:name="com.google.android.projection.gearhead" />
        <package android:name="com.google.android.apps.giant" />
        <package android:name="com.google.android.apps.turbo" />
        <package android:name="com.sec.android.app.qsfastpairoverlay" />
        <package android:name="com.android.cts.ctsshim" />
        <package android:name="com.samsung.android.svoiceime" />
        <package android:name="com.example.imagecopyapp" />
        <package android:name="com.digilocker.android" />
        <package android:name="com.riotgames.mobile.leagueconnect" />
        <package android:name="com.samsung.android.edgelightingplus" />
        <package android:name="com.hiya.star" />
        <package android:name="com.google.android.overlay.modules.cellbroadcastservice" />
        <package android:name="com.king.candycrushsaga" />
        <package android:name="com.google.android.apps.carrier.carrierwifi" />
        <package android:name="com.samsung.SMT.lang_pl_pl_f00" />
        <package android:name="com.azure.authenticator" />
        <package android:name="com.google.android.gms.location.history" />
        <package android:name="com.android.internal.systemui.navbar.gestural" />
        <package android:name="com.google.android.apps.youtube.music" />
        <package android:name="com.android.bluetoothmidiservice" />
        <package android:name="com.kiloo.subwaysurf" />
        <package android:name="com.facebook.appmanager" />
        <package android:name="com.thesouledstore" />
        <package android:name="com.beanstudiohq.classic_2048" />
        <package android:name="com.heytap.headset" />
        <package android:name="com.google.android.cellbroadcastreceiver" />
        <package android:name="com.android.phone.auto_generated_rro_product__" />
        <package android:name="android.auto_generated_rro_product__" />
        <package android:name="com.sec.android.widgetapp.webmanual" />
        <package android:name="com.monotype.android.font.roboto" />
        <package android:name="com.android.internal.systemui.navbar.gestural_narrow_back" />
        <package android:name="com.google.earth" />
        <package android:name="com.samsung.SMT.lang_hi_in_f00" />
        <package android:name="com.snapchat.android" />
        <package android:name="com.google.android.inputmethod.latin" />
        <package android:name="android.auto_generated_rro_vendor__" />
        <package android:name="com.google.android.apps.restore" />
        <package android:name="com.nextbillion.groww"/>
        <package android:name="com.hookpractice2"/>
        <package android:name="com.hooks"/>
        <package android:name="com.figma.mirror"/>
        <package android:name="com.hookpractice"/>
        <package android:name="com.hookpractice3"/>
        <package android:name="com.components"/>
    </queries>

    <application
            android:name=".MainApplication"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:allowBackup="false"
            android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
                android:launchMode="singleTask"
                android:windowSoftInputMode="adjustResize"
                android:exported="true"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                          "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:label="@string/app_name" />
        <activity
                android:name="com.facebook.CustomTabActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service
            android:name=".NotificationListener"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>
</manifest>
